<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Sección del Título -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Título de la Publicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input [(ngModel)]="publication.title" name="title" placeholder="Ingresa el título de la publicación" required></ion-input>
    </ion-card-content>
  </ion-card>

  <!-- Sección de Imagen -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Imagen de la Publicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <input type="file" (change)="onImageChange($event)" />
      <img *ngIf="publication.image" [src]="publication.image" alt="Imagen de la Publicación" style="width: 100%; margin-top: 10px;" />
    </ion-card-content>
  </ion-card>

  <!-- Sección de Ingredientes -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingredientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="publication.ingredients" name="ingredients" rows="6" placeholder="Lista los ingredientes aquí" required></ion-textarea>
    </ion-card-content>
  </ion-card>

  <!-- Sección de Pasos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pasos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="publication.steps" name="steps" rows="6" placeholder="Describe los pasos aquí" required></ion-textarea>
    </ion-card-content>
  </ion-card>

  <!-- Opción de Video -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Video</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <input type="file" (change)="onVideoChange($event)" accept="video/*" />
      <video *ngIf="publication.video" [src]="publication.video" controls style="width: 100%; margin-top: 10px;">
        Your browser does not support the video tag.
      </video>
    </ion-card-content>
  </ion-card>

  <!-- Botón para guardar la publicación -->
  <ion-button expand="full" color="primary" (click)="submitPublication()">Crear Publicación</ion-button>
</ion-content>
