<ion-app>
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title>Configuración</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-card id="colored-box1">
      <ion-card-content>
        <ion-title><b>Accesibilidad</b></ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card id="colored-box1">
      <ion-card-content>
        <ion-title><b>Privacidad</b></ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card id="colored-box1">
      <ion-card-content>
        <ion-title><b>Cuenta</b></ion-title>
      </ion-card-content>
    </ion-card>

    <ion-card id="colored-box1">
      <ion-card-content>
        <ion-title><b>Notificaciones</b></ion-title>
      </ion-card-content>
    </ion-card>




  </ion-content>

</ion-app>
