<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscador</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    placeholder="Buscar"
    (ionInput)="onSearch($event)"
  ></ion-searchbar>

  <ion-list [inset]="true">
    <ion-item *ngFor="let item of filteredItems" [routerLink]="[item.link]">
      <ion-label>{{ item.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
