<ion-app>


 <ion-content class="background">
  <h1 class="titulos">
    CocinApp
  </h1>


  <ion-card class="blurred-card">
    <ion-card-header>
      
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  


  <ion-button expand="block"  color="secondary"class="boton-empecemos" fill="outline"   (click)="ingresar()" >
    EMPECEMOS
  </ion-button>
 </ion-content>

</ion-app >