<ion-app>


 <ion-content class="background">
  <h1 class="titulos">
    CocinApp
  </h1>


  <ion-card class="blurred-card">
    <ion-card-header>
      
    </ion-card-header>
  
    <ion-card-content>
      CocinApp es tu compañero ideal en la cocina. Con nuestra aplicación, puedes explorar una extensa biblioteca de recetas fáciles de seguir, desde 
      platos rápidos para la cena hasta exquisiteces para ocasiones especiales. 
      ¡Descubre nuevas recetas, guarda tus favoritas y comparte tus creaciones con amigos y familiares!
    </ion-card-content>
  </ion-card>
  


  <ion-button expand="block"  color="light" class="boton-empecemos" fill="outline"   (click)="ingresar()" >
    EMPECEMOS
  </ion-button>
 </ion-content>

</ion-app >